USE [master]
GO
/****** Object:  Database [assets]    Script Date: 12.02.2021 18:32:16 ******/
CREATE DATABASE [assets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'assets', FILENAME = N'C:\ALL_about_Aktivs\assets.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'assets_log', FILENAME = N'C:\ALL_about_Aktivs\assets_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [assets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [assets]
GO
USE [assets]
GO
/****** Object:  User [ppa]    Script Date: 12.02.2021 18:32:16 ******/
CREATE USER [ppa] FOR LOGIN [ppa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ppa]
GO
USE [assets]
GO
/****** Object:  Sequence [dbo].[SeqAssetRegNum]    Script Date: 12.02.2021 18:32:16 ******/
CREATE SEQUENCE [dbo].[SeqAssetRegNum] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[findFirstParentIk]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[findFirstParentIk](@DocumentPackId nvarchar(36))
RETURNS nvarchar(36)
AS
BEGIN
    -- поиск первого ЭС в цепочке по DocumentPackId любого связанного ЭС
	DECLARE @Ed_Accum_1 TABLE (id bigint not null, document_pack_id nvarchar(36) not null, document_pack_correlation_id nvarchar(36) NULL, ord int not null)
	DECLARE @ParentDocumentPackId nvarchar(36)

	-- поиск вверх
	;WITH    q (id, document_pack_id, document_pack_correlation_id, OrderSeq, FirstItem) AS
			(
			-- Поиск первого вхождения
			SELECT  id, document_pack_id, document_pack_correlation_id, 1, ID
			FROM    integration_envelope
			WHERE   document_pack_id = @DocumentPackId
			-- union
			UNION ALL
			-- Поиск всех элементов цепочки вверх, кроме первого
			SELECT  o.id, o.document_pack_id, o.document_pack_correlation_id, q.OrderSeq - 1, q.FirstItem
			FROM    q
			JOIN    integration_envelope o
			ON      o.document_pack_id = q.document_pack_correlation_id
			--WHERE   o.document_pack_correlation_id is not null
			)
	insert into @Ed_Accum_1
	SELECT id, document_pack_id, document_pack_correlation_id, OrderSeq from q

	SELECT top 1 @ParentDocumentPackId = document_pack_id FROM @Ed_Accum_1 order by ord

	return @ParentDocumentPackId;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[getChainOfIk]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getChainOfIk](@DocumentPackId nvarchar(36))
RETURNS @res TABLE (id bigint not null, document_pack_id nvarchar(36) not null, document_pack_correlation_id nvarchar(36) NULL, ord int not null)
AS
-- Returns the stock level for the product.
BEGIN

	DECLARE @FirstParentDocumentPackId nvarchar(36)
	DECLARE @Ed_Accum_1 TABLE (id bigint not null, document_pack_id nvarchar(36) not null, document_pack_correlation_id nvarchar(36) NULL, ord int not null)
	DECLARE @Ed_Accum_2 TABLE (id bigint not null, document_pack_id nvarchar(36) not null, document_pack_correlation_id nvarchar(36) NULL, ord int not null)

	-- ищем первый элемент в цепочке
	SELECT @FirstParentDocumentPackId = [dbo].[findFirstParentIk] (@DocumentPackId)

	-- поиск вверх
	;WITH    q (id, document_pack_id, document_pack_correlation_id, OrderSeq, FirstItem) AS
			(
			-- Поиск первого вхождения
			SELECT  id, document_pack_id, document_pack_correlation_id, 1, ID
			FROM    integration_envelope
			WHERE   document_pack_id = @FirstParentDocumentPackId
			-- union
			UNION ALL
			-- Поиск всех элементов цепочки вверх, кроме первого
			SELECT  o.id, o.document_pack_id, o.document_pack_correlation_id, q.OrderSeq - 1, q.FirstItem
			FROM    q
			JOIN    integration_envelope o
			ON      o.document_pack_id = q.document_pack_correlation_id
			--WHERE   o.document_pack_correlation_id is not null
			)
	insert into @Ed_Accum_2
	SELECT id, document_pack_id, document_pack_correlation_id, OrderSeq from q

	--поиск вниз
	;WITH    q (id, document_pack_id, document_pack_correlation_id, OrderSeq, FirstItem) AS
			(
			-- Поиск первого вхождения
			SELECT  id, document_pack_id, document_pack_correlation_id, 1, ID
			FROM    integration_envelope
			WHERE   document_pack_id = @FirstParentDocumentPackId
			-- union
			UNION ALL
			-- Поиск всех элементов цепочки вниз, кроме первого
			SELECT  o.id, o.document_pack_id, o.document_pack_correlation_id, q.OrderSeq + 1, q.FirstItem
			FROM    q
			JOIN    integration_envelope o
			ON      o.document_pack_correlation_id = q.document_pack_id
			WHERE   o.document_pack_correlation_id is not null
			)
	insert into @Ed_Accum_1
	SELECT id, document_pack_id, document_pack_correlation_id, OrderSeq from q

	insert into @res
	SELECT * FROM @Ed_Accum_1
	UNION
	SELECT * FROM @Ed_Accum_2
	return;
END;
GO
/****** Object:  Table [dbo].[action]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[action](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [actionPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_user]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[enabled] [bit] NOT NULL,
	[password] [nvarchar](255) NULL,
	[username] [nvarchar](255) NULL,
	[br_department_id] [bigint] NULL,
 CONSTRAINT [app_userPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[asset_reg_num] [nvarchar](16) NOT NULL,
	[check_changes] [nvarchar](max) NULL,
	[check_results] [nvarchar](max) NULL,
	[control_results] [nvarchar](max) NULL,
	[currency_rate] [numeric](17, 2) NULL,
	[maturity_date] [date] NULL,
	[pool_date] [date] NULL,
	[starting_price_currency] [numeric](17, 2) NULL,
	[status_date] [datetime2](7) NOT NULL,
	[tranche_number] [nvarchar](20) NULL,
	[borrower_id] [bigint] NULL,
	[contract_id] [bigint] NULL,
	[credit_contract_id] [bigint] NULL,
	[credit_organization_id] [bigint] NOT NULL,
	[actual_currency_id] [bigint] NOT NULL,
	[first_currency_id] [bigint] NOT NULL,
	[organization_id] [bigint] NOT NULL,
	[petition_id] [bigint] NOT NULL,
	[asset_quality_id] [bigint] NULL,
	[section_id] [bigint] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[br_department_holder_id] [bigint] NULL,
	[br_department_id] [bigint] NULL,
 CONSTRAINT [assetPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_quality]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_quality](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [asset_qualityPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_section]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_section](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](3) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [asset_sectionPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_status]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_status](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [asset_statusPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_stop]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_stop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_beg] [datetime2](7) NOT NULL,
	[date_end] [datetime2](7) NULL,
	[docum_list] [nvarchar](970) NOT NULL,
	[reason_text] [nvarchar](1000) NOT NULL,
	[asset_id] [bigint] NOT NULL,
 CONSTRAINT [asset_stopPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[br_department]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[br_department](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bic] [nvarchar](9) NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[uis] [nvarchar](10) NOT NULL,
	[hub_id] [bigint] NOT NULL,
 CONSTRAINT [br_departmentPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[control_code]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[control_code](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[annotation] [nvarchar](255) NOT NULL,
	[annotation_interface] [nvarchar](1024) NULL,
	[code] [nvarchar](4) NOT NULL,
	[control_type_id] [int] NOT NULL,
	[detail_info] [nvarchar](1024) NULL,
 CONSTRAINT [control_codePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[control_type]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[control_type](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[description] [nvarchar](150) NOT NULL,
 CONSTRAINT [control_typePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[correction_factor]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[correction_factor](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_begin] [date] NULL,
	[date_end] [date] NOT NULL,
	[factor] [nvarchar](10) NOT NULL,
	[factor_type_id] [bigint] NULL,
 CONSTRAINT [correction_factorPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_contract]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_contract](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_date] [date] NOT NULL,
	[bill_num] [nvarchar](20) NOT NULL,
 CONSTRAINT [credit_contractPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_contract_br]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_contract_br](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[no] [nvarchar](10) NOT NULL,
	[type_id] [bigint] NULL,
 CONSTRAINT [credit_contract_brPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_contract_br_type]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_contract_br_type](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [credit_contract_br_typePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_organization]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_organization](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[short_name] [nvarchar](255) NOT NULL,
	[bic] [nvarchar](9) NOT NULL,
	[corr_acc] [nvarchar](20) NOT NULL,
	[fact_address] [nvarchar](100) NOT NULL,
	[hundred_billion] [bit] NOT NULL,
	[in_list] [bit] NOT NULL,
	[inn] [nvarchar](10) NOT NULL,
	[ogrn] [nvarchar](13) NOT NULL,
	[okato] [nvarchar](10) NOT NULL,
	[okopf] [nvarchar](13) NOT NULL,
	[reg_num] [nvarchar](10) NOT NULL,
	[uis] [nvarchar](10) NOT NULL,
	[ur_address] [nvarchar](100) NOT NULL,
	[account_id] [bigint] NULL,
	[credit_contract_br_id] [bigint] NULL,
	[tu_id] [bigint] NOT NULL,
 CONSTRAINT [credit_organizationPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code_number] [nvarchar](3) NOT NULL,
	[code_symbol] [nvarchar](3) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [currencyPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency_list]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency_list](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rate] [numeric](17, 2) NULL,
	[asset_id] [bigint] NOT NULL,
	[currency_id] [bigint] NOT NULL,
 CONSTRAINT [currency_listPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOG]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOG](
	[ID] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[DATEEXECUTED] [datetime2](3) NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [nvarchar](10) NOT NULL,
	[MD5SUM] [nvarchar](35) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[TAG] [nvarchar](255) NULL,
	[LIQUIBASE] [nvarchar](20) NULL,
	[CONTEXTS] [nvarchar](255) NULL,
	[LABELS] [nvarchar](255) NULL,
	[DEPLOYMENT_ID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOGLOCK]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](3) NULL,
	[LOCKEDBY] [nvarchar](255) NULL,
 CONSTRAINT [PK_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ed_type]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ed_type](
	[id] [bigint] NOT NULL,
	[incoming] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
 CONSTRAINT [ed_typePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electronic_document]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electronic_document](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[archived] [bit] NOT NULL,
	[ctrl_date_time] [datetime2](7) NULL,
	[ed_author] [nvarchar](10) NOT NULL,
	[ed_date] [date] NOT NULL,
	[ed_file_name] [nvarchar](33) NOT NULL,
	[ed_no] [nvarchar](9) NOT NULL,
	[ed_receiver] [nvarchar](10) NOT NULL,
	[xml_body] [varbinary](max) NOT NULL,
	[asset_id] [bigint] NULL,
	[control_code_id] [bigint] NULL,
	[credit_organization_id] [bigint] NULL,
	[ed_parent_id] [bigint] NULL,
	[ed_type_id] [bigint] NOT NULL,
	[hub_id] [bigint] NULL,
	[integration_envelope_id] [bigint] NULL,
	[organization_id] [bigint] NULL,
	[status_edo_id] [bigint] NOT NULL,
 CONSTRAINT [electronic_documentPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electronic_document_camunda]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electronic_document_camunda](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[camunda_instance_id] [nvarchar](40) NOT NULL,
	[ed_id] [bigint] NOT NULL,
 CONSTRAINT [electronic_document_camundaPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entry]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NULL,
	[logger] [nvarchar](255) NULL,
	[message] [nvarchar](255) NULL,
	[session] [bigint] NULL,
 CONSTRAINT [entryPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[esod_receipt]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[esod_receipt](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[acknowledgement_type] [nvarchar](1) NOT NULL,
	[create_time] [datetime2](7) NULL,
	[document_pack_correlation_id] [nvarchar](36) NULL,
	[document_pack_id] [nvarchar](36) NOT NULL,
	[esodreceipt_body] [varbinary](max) NOT NULL,
	[message_type] [nvarchar](1) NOT NULL,
	[priority] [int] NOT NULL,
	[receive_time] [datetime2](7) NULL,
	[result_code] [nvarchar](4) NOT NULL,
	[result_text] [nvarchar](max) NULL,
	[send_time] [datetime2](7) NULL,
	[control_code_id] [bigint] NULL,
	[integration_envelope_id] [bigint] NULL,
 CONSTRAINT [esod_receiptPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exchange_rate]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchange_rate](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rate] [numeric](17, 2) NOT NULL,
	[rate_date] [date] NOT NULL,
	[scale] [bigint] NOT NULL,
	[currency_id] [bigint] NOT NULL,
 CONSTRAINT [exchange_ratePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hub]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hub](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bic] [nvarchar](9) NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[uis] [nvarchar](10) NOT NULL,
 CONSTRAINT [hubPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[integration_envelope]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[integration_envelope](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bic] [nvarchar](9) NULL,
	[document_pack_correlation_id] [nvarchar](36) NULL,
	[document_pack_id] [nvarchar](36) NULL,
	[envelope_file_name] [nvarchar](40) NOT NULL,
	[hub_ri] [nvarchar](2) NULL,
	[ik_body] [varbinary](max) NOT NULL,
	[incoming] [bit] NOT NULL,
	[inn] [nvarchar](10) NULL,
	[ogrn] [nvarchar](13) NULL,
	[reg_num] [nvarchar](13) NULL,
	[send_recieve_date_time] [datetime2](7) NOT NULL,
	[status_body] [varbinary](max) NULL,
	[control_code_id] [bigint] NULL,
	[credit_organization_id] [bigint] NULL,
	[esod_receipt_id] [bigint] NULL,
	[hub_id] [bigint] NULL,
	[status_edo_id] [bigint] NOT NULL,
	[zadacha_id] [bigint] NULL,
 CONSTRAINT [integration_envelopePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[num_per_day_out]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[num_per_day_out](
	[date] [datetime2](7) NOT NULL,
	[id_per_day] [bigint] NOT NULL,
 CONSTRAINT [num_per_day_outPK] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[id_per_day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[okfs]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[okfs](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [okfsPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organization]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organization](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[activity_date] [datetime2](7) NOT NULL,
	[checkin_date] [datetime2](7) NOT NULL,
	[full_name] [nvarchar](640) NOT NULL,
	[included_list_indicator] [bit] NOT NULL,
	[inn] [nvarchar](12) NOT NULL,
	[ogrn] [nvarchar](20) NOT NULL,
	[okved] [nvarchar](20) NOT NULL,
	[opf_code] [nvarchar](5) NOT NULL,
	[rf_residency_indicator] [bit] NOT NULL,
	[short_name] [nvarchar](100) NOT NULL,
	[okfs_id] [bigint] NOT NULL,
	[organization_status_id] [bigint] NOT NULL,
	[organization_type_id] [bigint] NOT NULL,
	[subject_type_id] [bigint] NOT NULL,
 CONSTRAINT [organizationPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organization_status]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organization_status](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](15) NOT NULL,
 CONSTRAINT [organization_statusPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organization_type]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organization_type](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [organization_typePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[petition]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petition](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[petition_date] [date] NOT NULL,
	[petition_reg_num] [nvarchar](16) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[co_id] [bigint] NOT NULL,
	[ed_id] [bigint] NOT NULL,
 CONSTRAINT [petitionPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preference]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preference](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[data] [nvarchar](max) NULL,
	[object_name] [nvarchar](128) NOT NULL,
	[user_id] [bigint] NOT NULL,
 CONSTRAINT [preferencePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repayment]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repayment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_date] [date] NOT NULL,
	[sum] [numeric](17, 2) NOT NULL,
	[verified] [bit] NOT NULL,
	[asset_id] [bigint] NOT NULL,
 CONSTRAINT [repaymentPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [rolePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_action]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_action](
	[role_id] [bigint] NOT NULL,
	[action_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_edo]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_edo](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](3) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
 CONSTRAINT [status_edoPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject_type]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject_type](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](3) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [subject_typePK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zadacha_ed]    Script Date: 12.02.2021 18:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zadacha_ed](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [zadacha_edPK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[action] ON 

INSERT [dbo].[action] ([id], [description], [name]) VALUES (1, N'Доступ к модулю "Прием, учет и проверка актива"', N'assetModuleAccess')
INSERT [dbo].[action] ([id], [description], [name]) VALUES (2, N'Доступ к модулю "Информационный обмен"', N'infoModuleAccess')
INSERT [dbo].[action] ([id], [description], [name]) VALUES (3, N'Доступ к модулю "ЭДО"', N'docExchangeModuleAccess')
SET IDENTITY_INSERT [dbo].[action] OFF
SET IDENTITY_INSERT [dbo].[app_user] ON 

INSERT [dbo].[app_user] ([id], [description], [enabled], [password], [username], [br_department_id]) VALUES (10, N'Иванов Иван', 1, N'$2a$10$dcjOCnEkU6qzCjwX/vig/uzkbjcr8U1wI1.I3tR6HCM5vMs.aXsPq', N'aib', 45)
INSERT [dbo].[app_user] ([id], [description], [enabled], [password], [username], [br_department_id]) VALUES (11, N'Петров Петр', 1, N'$2a$10$jyiz.YXGosHU2yZCtNDu/e8TNngCurcdw1HewLl0VX6/fmT2W8gc6', N'operator', 45)
INSERT [dbo].[app_user] ([id], [description], [enabled], [password], [username], [br_department_id]) VALUES (12, N'Сидоров Сидр', 1, N'$2a$10$jyiz.YXGosHU2yZCtNDu/e8TNngCurcdw1HewLl0VX6/fmT2W8gc6', N'operator2', 9)
SET IDENTITY_INSERT [dbo].[app_user] OFF
SET IDENTITY_INSERT [dbo].[asset] ON 

SET IDENTITY_INSERT [dbo].[asset] OFF
SET IDENTITY_INSERT [dbo].[asset_quality] ON 

INSERT [dbo].[asset_quality] ([id], [code], [name]) VALUES (1, N'1', N'Первая категория качества')
INSERT [dbo].[asset_quality] ([id], [code], [name]) VALUES (2, N'2', N'Вторая категория качества')
INSERT [dbo].[asset_quality] ([id], [code], [name]) VALUES (3, N'3', N'Третья категория качества')
SET IDENTITY_INSERT [dbo].[asset_quality] OFF
SET IDENTITY_INSERT [dbo].[asset_section] ON 

INSERT [dbo].[asset_section] ([id], [code], [name]) VALUES (1, N'1.1', N'Активы, находящиеся в процессе проверки на соответствие критериям БР')
INSERT [dbo].[asset_section] ([id], [code], [name]) VALUES (2, N'1.2', N'Активы, ожидающие досылку документов')
INSERT [dbo].[asset_section] ([id], [code], [name]) VALUES (3, N'1.3', N'Активы, по которым не рассчитан поправочный коэффициент')
SET IDENTITY_INSERT [dbo].[asset_section] OFF
SET IDENTITY_INSERT [dbo].[asset_status] ON 

INSERT [dbo].[asset_status] ([id], [code], [name]) VALUES (1, N'R', N'На рассмотрении')
INSERT [dbo].[asset_status] ([id], [code], [name]) VALUES (2, N'W', N'Рассмотрение приостановлено')
INSERT [dbo].[asset_status] ([id], [code], [name]) VALUES (3, N'K', N'Ожидает расчёта ПК')
SET IDENTITY_INSERT [dbo].[asset_status] OFF
SET IDENTITY_INSERT [dbo].[br_department] ON 

INSERT [dbo].[br_department] ([id], [bic], [code], [name], [uis], [hub_id]) VALUES (1, N'000000000', N'11', N'Отделение Архангельск', N'', 1)
INSERT [dbo].[br_department] ([id], [bic], [code], [name], [uis], [hub_id]) VALUES (2, N'000000000', N'19', N'Отделение Вологда', N'', 1)
INSERT [dbo].[br_department] ([id], [bic], [code], [name], [uis], [hub_id]) VALUES (3, N'000000000', N'40', N'Северо-Западное ГУ Банка России (г.Санкт-Петербург)', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[br_department] OFF
SET IDENTITY_INSERT [dbo].[control_code] ON 

INSERT [dbo].[control_code] ([id], [annotation], [annotation_interface], [code], [control_type_id], [detail_info]) VALUES (1, N'Неизвестный формат сообщения', N'Формат сообщения не соответствует спецификации XML', N'0010', 1, N'')
INSERT [dbo].[control_code] ([id], [annotation], [annotation_interface], [code], [control_type_id], [detail_info]) VALUES (2, N'Недопустимый (для отправителя) тип запроса', N'Тип запроса недопустим для отправителя сообщения', N'0301', 2, N'')
INSERT [dbo].[control_code] ([id], [annotation], [annotation_interface], [code], [control_type_id], [detail_info]) VALUES (3, N'Некорректное архивирование', N'ЭC сжато (архивировано) некорректным способом', N'0801', 3, N'')
GO
SET IDENTITY_INSERT [dbo].[control_code] OFF
INSERT [dbo].[control_type] ([id], [code], [description]) VALUES (1, N'UFEBS_FORMAT', N'УФЭБС. Нарушен формат')
INSERT [dbo].[control_type] ([id], [code], [description]) VALUES (2, N'UFEBS_ACCESS', N'УФЭБС. Проверка прав доступа (авторизация)')
INSERT [dbo].[control_type] ([id], [code], [description]) VALUES (3, N'UFEBS_ERR_PO', N'УФЭБС. Ошибки ПО')
SET IDENTITY_INSERT [dbo].[credit_contract] ON 

INSERT [dbo].[credit_contract] ([id], [bill_date], [bill_num]) VALUES (1, CAST(N'2019-12-03' AS Date), N'333')
INSERT [dbo].[credit_contract] ([id], [bill_date], [bill_num]) VALUES (2, CAST(N'2019-12-03' AS Date), N'202')
SET IDENTITY_INSERT [dbo].[credit_contract] OFF
INSERT [dbo].[credit_contract_br_type] ([id], [code], [name]) VALUES (1, N'01', N'ЕКД')
INSERT [dbo].[credit_contract_br_type] ([id], [code], [name]) VALUES (2, N'02', N'КД на МСП')
INSERT [dbo].[credit_contract_br_type] ([id], [code], [name]) VALUES (3, N'03', N'КД на ЭКСАР')
SET IDENTITY_INSERT [dbo].[credit_organization] ON 

INSERT [dbo].[credit_organization] ([id], [short_name], [bic], [corr_acc], [fact_address], [hundred_billion], [in_list], [inn], [ogrn], [okato], [okopf], [reg_num], [uis], [ur_address], [account_id], [credit_contract_br_id], [tu_id]) VALUES (14, N'ОА СКБ-БАНК «Московский»', N'143514903', N'', N'fact', 1, 1, N'1435149030', N'1435149030', N'1435149030', N'1435149030', N'705/34', N'1435149030', N'1435149030', NULL, NULL, 1)
INSERT [dbo].[credit_organization] ([id], [short_name], [bic], [corr_acc], [fact_address], [hundred_billion], [in_list], [inn], [ogrn], [okato], [okopf], [reg_num], [uis], [ur_address], [account_id], [credit_contract_br_id], [tu_id]) VALUES (15, N'БАНК "НЕЙВА" ООО', N'123456789', N'', N'fact addr', 1, 1, N'1234567890', N'1234567890', N'1234567890', N'1233456789', N'1293-', N'1234567890', N'ur addr', NULL, NULL, 1)
INSERT [dbo].[credit_organization] ([id], [short_name], [bic], [corr_acc], [fact_address], [hundred_billion], [in_list], [inn], [ogrn], [okato], [okopf], [reg_num], [uis], [ur_address], [account_id], [credit_contract_br_id], [tu_id]) VALUES (16, N'Банк "Левобережный" (ПАО)', N'045004850', N'', N'', 1, 1, N'5404154492', N'1025400000010', N'1111', N' ', N'1343', N'1343', N'', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[credit_organization] OFF
SET IDENTITY_INSERT [dbo].[currency] ON 

INSERT [dbo].[currency] ([id], [code_number], [code_symbol], [name]) VALUES (1, N'810', N'RUB', N'РОССИЙСКИЙ РУБЛЬ')
INSERT [dbo].[currency] ([id], [code_number], [code_symbol], [name]) VALUES (2, N'826', N'GBP', N'ФУНТ СТЕРЛИНГОВ')
INSERT [dbo].[currency] ([id], [code_number], [code_symbol], [name]) VALUES (3, N'840', N'USD', N'ДОЛЛАР США')
SET IDENTITY_INSERT [dbo].[currency] OFF
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'00001-init.1', N'65maa6 (generated)', N'db/changelog/v0.0.2/00001-init.xml', CAST(N'2021-01-22T02:41:53.2700000' AS DateTime2), 1, N'EXECUTED', N'8:22b5cf31b46ceaf2b297fab33bd6124c', N'createTable tableName=action', N'', NULL, N'3.10.2', NULL, NULL, N'1265312985')
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'00001-init.2', N'65maa6 (generated)', N'db/changelog/v0.0.2/00001-init.xml', CAST(N'2021-01-22T02:41:53.3200000' AS DateTime2), 2, N'EXECUTED', N'8:bf62b487e383f6a3dc2397fa7432429d', N'createTable tableName=app_user', N'', NULL, N'3.10.2', NULL, NULL, N'1265312985')
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'00001-init.3', N'65maa6 (generated)', N'db/changelog/v0.0.2/00001-init.xml', CAST(N'2021-01-22T02:41:53.4030000' AS DateTime2), 3, N'EXECUTED', N'8:c4fea308866665814a326254abbe6c82', N'createTable tableName=asset', N'', NULL, N'3.10.2', NULL, NULL, N'1265312985')
GO
INSERT [dbo].[DATABASECHANGELOGLOCK] ([ID], [LOCKED], [LOCKGRANTED], [LOCKEDBY]) VALUES (1, 0, NULL, NULL)
INSERT [dbo].[ed_type] ([id], [incoming], [name], [type]) VALUES (1, 1, N'Ходатайство о включении нерыночных активов в пул обеспечения', N'C101')
INSERT [dbo].[ed_type] ([id], [incoming], [name], [type]) VALUES (2, 1, N'Информация об изменении данных по активу', N'C102')
INSERT [dbo].[ed_type] ([id], [incoming], [name], [type]) VALUES (3, 1, N'Обращение об отзыве ходатайства о включении нерыночного актива в пул обеспечения', N'C103')
SET IDENTITY_INSERT [dbo].[electronic_document] ON 

SET IDENTITY_INSERT [dbo].[electronic_document] OFF
SET IDENTITY_INSERT [dbo].[electronic_document_camunda] ON 

INSERT [dbo].[electronic_document_camunda] ([id], [camunda_instance_id], [ed_id]) VALUES (12, N'7d93003d-6a47-11eb-82cc-40b03439731a', 55)
INSERT [dbo].[electronic_document_camunda] ([id], [camunda_instance_id], [ed_id]) VALUES (13, N'4f96bb0b-6a48-11eb-8a75-005056bfafd2', 59)
INSERT [dbo].[electronic_document_camunda] ([id], [camunda_instance_id], [ed_id]) VALUES (14, N'4f7e51af-6a48-11eb-8a75-005056bfafd2', 58)
SET IDENTITY_INSERT [dbo].[electronic_document_camunda] OFF
SET IDENTITY_INSERT [dbo].[exchange_rate] ON 

INSERT [dbo].[exchange_rate] ([id], [rate], [rate_date], [scale], [currency_id]) VALUES (689, CAST(1.00 AS Numeric(17, 2)), CAST(N'2021-02-03' AS Date), 1, 1)
INSERT [dbo].[exchange_rate] ([id], [rate], [rate_date], [scale], [currency_id]) VALUES (690, CAST(77.00 AS Numeric(17, 2)), CAST(N'2021-02-03' AS Date), 1, 2)
INSERT [dbo].[exchange_rate] ([id], [rate], [rate_date], [scale], [currency_id]) VALUES (691, CAST(66.00 AS Numeric(17, 2)), CAST(N'2021-02-03' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[exchange_rate] OFF
SET IDENTITY_INSERT [dbo].[hub] ON 

INSERT [dbo].[hub] ([id], [bic], [code], [name], [uis]) VALUES (1, N'650407001', N'04', N'ХАБ Красноярск', N'0407001000')
SET IDENTITY_INSERT [dbo].[hub] OFF
SET IDENTITY_INSERT [dbo].[integration_envelope] ON 

SET IDENTITY_INSERT [dbo].[integration_envelope] OFF
INSERT [dbo].[okfs] ([id], [code], [name]) VALUES (1, N'10', N'Российская собственность')
INSERT [dbo].[okfs] ([id], [code], [name]) VALUES (2, N'11', N'Государственная собственность')
INSERT [dbo].[okfs] ([id], [code], [name]) VALUES (3, N'12', N'Федеральная собственность')
SET IDENTITY_INSERT [dbo].[organization] ON 

INSERT [dbo].[organization] ([id], [activity_date], [checkin_date], [full_name], [included_list_indicator], [inn], [ogrn], [okved], [opf_code], [rf_residency_indicator], [short_name], [okfs_id], [organization_status_id], [organization_type_id], [subject_type_id]) VALUES (1, CAST(N'2002-09-16T00:00:00.0000000' AS DateTime2), CAST(N'2002-09-16T00:00:00.0000000' AS DateTime2), N'Акционерное общество "Авиакомпания "Якутия"', 0, N'1435149030', N'1041402039403', N'51.10', N'12267', 1, N'АО "Авиакомпания "Якутия"', 4, 1, 1, 2)
INSERT [dbo].[organization] ([id], [activity_date], [checkin_date], [full_name], [included_list_indicator], [inn], [ogrn], [okved], [opf_code], [rf_residency_indicator], [short_name], [okfs_id], [organization_status_id], [organization_type_id], [subject_type_id]) VALUES (2, CAST(N'2005-08-31T00:00:00.0000000' AS DateTime2), CAST(N'2005-08-31T00:00:00.0000000' AS DateTime2), N'Общество с ограниченной ответственностью "Богатый урожай"', 0, N'7904504082', N'1057900129847', N'01.11.1', N'12300', 1, N'"Богатый урожай" (ООО)', 6, 1, 1, 2)
INSERT [dbo].[organization] ([id], [activity_date], [checkin_date], [full_name], [included_list_indicator], [inn], [ogrn], [okved], [opf_code], [rf_residency_indicator], [short_name], [okfs_id], [organization_status_id], [organization_type_id], [subject_type_id]) VALUES (3, CAST(N'2005-09-08T00:00:00.0000000' AS DateTime2), CAST(N'2005-09-08T00:00:00.0000000' AS DateTime2), N'Акционерное общество "Авиакомпания "Аврора"', 0, N'6501161401', N'1056500677749', N'51.10.1', N'12267', 1, N'АО "Авиакомпания "Аврора"', 18, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[organization] OFF
INSERT [dbo].[organization_status] ([id], [code], [name]) VALUES (1, N'01', N'Действующая')
INSERT [dbo].[organization_status] ([id], [code], [name]) VALUES (2, N'02', N'Новая')
INSERT [dbo].[organization_status] ([id], [code], [name]) VALUES (3, N'03', N'Удалена')
INSERT [dbo].[organization_type] ([id], [code], [name]) VALUES (1, N'0', N'Обычная организация')
INSERT [dbo].[organization_type] ([id], [code], [name]) VALUES (2, N'1', N'Организация - РФ')
INSERT [dbo].[organization_type] ([id], [code], [name]) VALUES (3, N'2', N'Субъект РФ')
SET IDENTITY_INSERT [dbo].[petition] ON 

INSERT [dbo].[petition] ([id], [petition_date], [petition_reg_num], [status], [co_id], [ed_id]) VALUES (13, CAST(N'2020-03-31' AS Date), N'202', N'1', 2, 55)
INSERT [dbo].[petition] ([id], [petition_date], [petition_reg_num], [status], [co_id], [ed_id]) VALUES (14, CAST(N'2020-03-31' AS Date), N'202', N'1', 2, 58)
INSERT [dbo].[petition] ([id], [petition_date], [petition_reg_num], [status], [co_id], [ed_id]) VALUES (15, CAST(N'2020-03-31' AS Date), N'202', N'1', 2, 59)
SET IDENTITY_INSERT [dbo].[petition] OFF
SET IDENTITY_INSERT [dbo].[preference] ON 

INSERT [dbo].[preference] ([id], [data], [object_name], [user_id]) VALUES (3, N'{"filters":{"layout":{"ended":{"operator":"and","filters":[{"columnName":"status","operation":"notEqual","value":"Завершена"}]},"myTasks":{"operator":"and","disabled":true,"filters":[{"columnName":"assignedUser.id","operation":"equal","value":11}]}},"grid":[{"columnName":"date","value":"2021-02-09","operation":"equal"}]}}', N'camundaTask', 11)
SET IDENTITY_INSERT [dbo].[preference] OFF
SET IDENTITY_INSERT [dbo].[repayment] ON 

INSERT [dbo].[repayment] ([id], [payment_date], [sum], [verified], [asset_id]) VALUES (12, CAST(N'2021-12-03' AS Date), CAST(2300000000.00 AS Numeric(17, 2)), 0, 12)
INSERT [dbo].[repayment] ([id], [payment_date], [sum], [verified], [asset_id]) VALUES (13, CAST(N'2021-12-03' AS Date), CAST(2300000000.00 AS Numeric(17, 2)), 0, 13)
INSERT [dbo].[repayment] ([id], [payment_date], [sum], [verified], [asset_id]) VALUES (14, CAST(N'2021-12-03' AS Date), CAST(2300000000.00 AS Numeric(17, 2)), 0, 14)
SET IDENTITY_INSERT [dbo].[repayment] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [description], [name]) VALUES (1, N'Роль АИБ', N'AIB')
INSERT [dbo].[role] ([id], [description], [name]) VALUES (2, N'Роль Оператор', N'OPERATOR')
INSERT [dbo].[role] ([id], [description], [name]) VALUES (3, N'123', N'11')
SET IDENTITY_INSERT [dbo].[role] OFF
INSERT [dbo].[role_action] ([role_id], [action_id]) VALUES (1, 7)
INSERT [dbo].[role_action] ([role_id], [action_id]) VALUES (1, 12)
INSERT [dbo].[role_action] ([role_id], [action_id]) VALUES (2, 1)
INSERT [dbo].[status_edo] ([id], [code], [name]) VALUES (1, N'0', N'Получено')
INSERT [dbo].[status_edo] ([id], [code], [name]) VALUES (2, N'5', N'Отбраковано')
INSERT [dbo].[status_edo] ([id], [code], [name]) VALUES (3, N'10', N'Обработано')
INSERT [dbo].[subject_type] ([id], [code], [name]) VALUES (1, N'1', N'Субъект малого предпринимательства')
INSERT [dbo].[subject_type] ([id], [code], [name]) VALUES (2, N'2', N'Субъект крупного или среднего предпринимательств')
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (10, 1)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (11, 2)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (12, 2)
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_app_user_username]    Script Date: 12.02.2021 18:32:23 ******/
ALTER TABLE [dbo].[app_user] ADD  CONSTRAINT [uk_app_user_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_CONTROL_TYPECODE_COL]    Script Date: 12.02.2021 18:32:23 ******/
ALTER TABLE [dbo].[control_type] ADD  CONSTRAINT [UC_CONTROL_TYPECODE_COL] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_CONTROL_TYPEID_COL]    Script Date: 12.02.2021 18:32:23 ******/
ALTER TABLE [dbo].[control_type] ADD  CONSTRAINT [UC_CONTROL_TYPEID_COL] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uk_preference_object_name_user_id]    Script Date: 12.02.2021 18:32:23 ******/
ALTER TABLE [dbo].[preference] ADD  CONSTRAINT [uk_preference_object_name_user_id] UNIQUE NONCLUSTERED 
(
	[object_name] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[app_user]  WITH CHECK ADD  CONSTRAINT [fk_app_user_br_department_br_department_id] FOREIGN KEY([br_department_id])
REFERENCES [dbo].[br_department] ([id])
GO
ALTER TABLE [dbo].[app_user] CHECK CONSTRAINT [fk_app_user_br_department_br_department_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_asset_quality_asset_quality_id] FOREIGN KEY([asset_quality_id])
REFERENCES [dbo].[asset_quality] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_asset_quality_asset_quality_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_asset_section_section_id] FOREIGN KEY([section_id])
REFERENCES [dbo].[asset_section] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_asset_section_section_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_asset_status_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[asset_status] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_asset_status_status_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_br_department_br_department_holder_id] FOREIGN KEY([br_department_holder_id])
REFERENCES [dbo].[br_department] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_br_department_br_department_holder_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_br_department_br_department_id] FOREIGN KEY([br_department_id])
REFERENCES [dbo].[br_department] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_br_department_br_department_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_credit_contract_contract_id] FOREIGN KEY([contract_id])
REFERENCES [dbo].[credit_contract] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_credit_contract_contract_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_credit_contract_credit_contract_id] FOREIGN KEY([credit_contract_id])
REFERENCES [dbo].[credit_contract] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_credit_contract_credit_contract_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_credit_organization_credit_organization_id] FOREIGN KEY([credit_organization_id])
REFERENCES [dbo].[credit_organization] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_credit_organization_credit_organization_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_currency_actual_currency_id] FOREIGN KEY([actual_currency_id])
REFERENCES [dbo].[currency] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_currency_actual_currency_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_currency_first_currency_id] FOREIGN KEY([first_currency_id])
REFERENCES [dbo].[currency] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_currency_first_currency_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_organization_borrower_id] FOREIGN KEY([borrower_id])
REFERENCES [dbo].[organization] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_organization_borrower_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_organization_organization_id] FOREIGN KEY([organization_id])
REFERENCES [dbo].[organization] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_organization_organization_id]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [fk_asset_petition_petition_id] FOREIGN KEY([petition_id])
REFERENCES [dbo].[petition] ([id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [fk_asset_petition_petition_id]
GO
ALTER TABLE [dbo].[asset_stop]  WITH CHECK ADD  CONSTRAINT [fk_asset_stop_asset_asset_id] FOREIGN KEY([asset_id])
REFERENCES [dbo].[asset] ([id])
GO
ALTER TABLE [dbo].[asset_stop] CHECK CONSTRAINT [fk_asset_stop_asset_asset_id]
GO
ALTER TABLE [dbo].[br_department]  WITH CHECK ADD  CONSTRAINT [fk_br_department_hub_hub_id] FOREIGN KEY([hub_id])
REFERENCES [dbo].[hub] ([id])
GO
ALTER TABLE [dbo].[br_department] CHECK CONSTRAINT [fk_br_department_hub_hub_id]
GO
ALTER TABLE [dbo].[credit_contract_br]  WITH CHECK ADD  CONSTRAINT [fk_credit_contract_br_credit_contract_br_type_type_id] FOREIGN KEY([type_id])
REFERENCES [dbo].[credit_contract_br_type] ([id])
GO
ALTER TABLE [dbo].[credit_contract_br] CHECK CONSTRAINT [fk_credit_contract_br_credit_contract_br_type_type_id]
GO
ALTER TABLE [dbo].[credit_organization]  WITH CHECK ADD  CONSTRAINT [fk_credit_organization_br_department_tu_id] FOREIGN KEY([tu_id])
REFERENCES [dbo].[br_department] ([id])
GO
ALTER TABLE [dbo].[credit_organization] CHECK CONSTRAINT [fk_credit_organization_br_department_tu_id]
GO
ALTER TABLE [dbo].[credit_organization]  WITH CHECK ADD  CONSTRAINT [fk_credit_organization_credit_contract_account_id] FOREIGN KEY([account_id])
REFERENCES [dbo].[credit_contract] ([id])
GO
ALTER TABLE [dbo].[credit_organization] CHECK CONSTRAINT [fk_credit_organization_credit_contract_account_id]
GO
ALTER TABLE [dbo].[credit_organization]  WITH CHECK ADD  CONSTRAINT [fk_credit_organization_credit_contract_br_credit_contract_br_id] FOREIGN KEY([credit_contract_br_id])
REFERENCES [dbo].[credit_contract_br] ([id])
GO
ALTER TABLE [dbo].[credit_organization] CHECK CONSTRAINT [fk_credit_organization_credit_contract_br_credit_contract_br_id]
GO
ALTER TABLE [dbo].[currency_list]  WITH CHECK ADD  CONSTRAINT [fk_currency_list_asset_asset_id] FOREIGN KEY([asset_id])
REFERENCES [dbo].[asset] ([id])
GO
ALTER TABLE [dbo].[currency_list] CHECK CONSTRAINT [fk_currency_list_asset_asset_id]
GO
ALTER TABLE [dbo].[currency_list]  WITH CHECK ADD  CONSTRAINT [fk_currency_list_currency_currency_id] FOREIGN KEY([currency_id])
REFERENCES [dbo].[currency] ([id])
GO
ALTER TABLE [dbo].[currency_list] CHECK CONSTRAINT [fk_currency_list_currency_currency_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_asset_asset_id] FOREIGN KEY([asset_id])
REFERENCES [dbo].[asset] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_asset_asset_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_control_code_control_code_id] FOREIGN KEY([control_code_id])
REFERENCES [dbo].[control_code] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_control_code_control_code_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_credit_organization_credit_organization_id] FOREIGN KEY([credit_organization_id])
REFERENCES [dbo].[credit_organization] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_credit_organization_credit_organization_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_ed_type_ed_type_id] FOREIGN KEY([ed_type_id])
REFERENCES [dbo].[ed_type] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_ed_type_ed_type_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_electronic_document_ed_parent_id] FOREIGN KEY([ed_parent_id])
REFERENCES [dbo].[electronic_document] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_electronic_document_ed_parent_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_hub_hub_id] FOREIGN KEY([hub_id])
REFERENCES [dbo].[hub] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_hub_hub_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_integration_envelope_integration_envelope_id] FOREIGN KEY([integration_envelope_id])
REFERENCES [dbo].[integration_envelope] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_integration_envelope_integration_envelope_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_organization_organization_id] FOREIGN KEY([organization_id])
REFERENCES [dbo].[organization] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_organization_organization_id]
GO
ALTER TABLE [dbo].[electronic_document]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_status_edo_status_edo_id] FOREIGN KEY([status_edo_id])
REFERENCES [dbo].[status_edo] ([id])
GO
ALTER TABLE [dbo].[electronic_document] CHECK CONSTRAINT [fk_electronic_document_status_edo_status_edo_id]
GO
ALTER TABLE [dbo].[electronic_document_camunda]  WITH CHECK ADD  CONSTRAINT [fk_electronic_document_camunda_electronic_document_ed_id] FOREIGN KEY([ed_id])
REFERENCES [dbo].[electronic_document] ([id])
GO
ALTER TABLE [dbo].[electronic_document_camunda] CHECK CONSTRAINT [fk_electronic_document_camunda_electronic_document_ed_id]
GO
ALTER TABLE [dbo].[esod_receipt]  WITH CHECK ADD  CONSTRAINT [fk_esod_receipt_control_code_control_code_id] FOREIGN KEY([control_code_id])
REFERENCES [dbo].[control_code] ([id])
GO
ALTER TABLE [dbo].[esod_receipt] CHECK CONSTRAINT [fk_esod_receipt_control_code_control_code_id]
GO
ALTER TABLE [dbo].[esod_receipt]  WITH CHECK ADD  CONSTRAINT [fk_esod_receipt_integration_envelope_integration_envelope_id] FOREIGN KEY([integration_envelope_id])
REFERENCES [dbo].[integration_envelope] ([id])
GO
ALTER TABLE [dbo].[esod_receipt] CHECK CONSTRAINT [fk_esod_receipt_integration_envelope_integration_envelope_id]
GO
ALTER TABLE [dbo].[exchange_rate]  WITH CHECK ADD  CONSTRAINT [fk_exchange_rate_currency_currency_id] FOREIGN KEY([currency_id])
REFERENCES [dbo].[currency] ([id])
GO
ALTER TABLE [dbo].[exchange_rate] CHECK CONSTRAINT [fk_exchange_rate_currency_currency_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_control_code_control_code_id] FOREIGN KEY([control_code_id])
REFERENCES [dbo].[control_code] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_control_code_control_code_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_credit_organization_credit_organization_id] FOREIGN KEY([credit_organization_id])
REFERENCES [dbo].[credit_organization] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_credit_organization_credit_organization_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_esod_receipt_esod_receipt_id] FOREIGN KEY([esod_receipt_id])
REFERENCES [dbo].[esod_receipt] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_esod_receipt_esod_receipt_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_hub_hub_id] FOREIGN KEY([hub_id])
REFERENCES [dbo].[hub] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_hub_hub_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_status_edo_status_edo_id] FOREIGN KEY([status_edo_id])
REFERENCES [dbo].[status_edo] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_status_edo_status_edo_id]
GO
ALTER TABLE [dbo].[integration_envelope]  WITH CHECK ADD  CONSTRAINT [fk_integration_envelope_zadacha_ed_zadacha_id] FOREIGN KEY([zadacha_id])
REFERENCES [dbo].[zadacha_ed] ([id])
GO
ALTER TABLE [dbo].[integration_envelope] CHECK CONSTRAINT [fk_integration_envelope_zadacha_ed_zadacha_id]
GO
ALTER TABLE [dbo].[organization]  WITH CHECK ADD  CONSTRAINT [fk_organization_okfs_okfs_id] FOREIGN KEY([okfs_id])
REFERENCES [dbo].[okfs] ([id])
GO
ALTER TABLE [dbo].[organization] CHECK CONSTRAINT [fk_organization_okfs_okfs_id]
GO
ALTER TABLE [dbo].[organization]  WITH CHECK ADD  CONSTRAINT [fk_organization_organization_status_organization_status_id] FOREIGN KEY([organization_status_id])
REFERENCES [dbo].[organization_status] ([id])
GO
ALTER TABLE [dbo].[organization] CHECK CONSTRAINT [fk_organization_organization_status_organization_status_id]
GO
ALTER TABLE [dbo].[organization]  WITH CHECK ADD  CONSTRAINT [fk_organization_organization_type_organization_type_id] FOREIGN KEY([organization_type_id])
REFERENCES [dbo].[organization_type] ([id])
GO
ALTER TABLE [dbo].[organization] CHECK CONSTRAINT [fk_organization_organization_type_organization_type_id]
GO
ALTER TABLE [dbo].[organization]  WITH CHECK ADD  CONSTRAINT [fk_organization_subject_type_subject_type_id] FOREIGN KEY([subject_type_id])
REFERENCES [dbo].[subject_type] ([id])
GO
ALTER TABLE [dbo].[organization] CHECK CONSTRAINT [fk_organization_subject_type_subject_type_id]
GO
ALTER TABLE [dbo].[petition]  WITH CHECK ADD  CONSTRAINT [fk_petition_electronic_document_ed_id] FOREIGN KEY([ed_id])
REFERENCES [dbo].[electronic_document] ([id])
GO
ALTER TABLE [dbo].[petition] CHECK CONSTRAINT [fk_petition_electronic_document_ed_id]
GO
ALTER TABLE [dbo].[petition]  WITH CHECK ADD  CONSTRAINT [fk_petition_organization_co_id] FOREIGN KEY([co_id])
REFERENCES [dbo].[organization] ([id])
GO
ALTER TABLE [dbo].[petition] CHECK CONSTRAINT [fk_petition_organization_co_id]
GO
ALTER TABLE [dbo].[preference]  WITH CHECK ADD  CONSTRAINT [fk_preference_app_user_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[preference] CHECK CONSTRAINT [fk_preference_app_user_user_id]
GO
ALTER TABLE [dbo].[repayment]  WITH CHECK ADD  CONSTRAINT [fk_repayment_asset_asset_id] FOREIGN KEY([asset_id])
REFERENCES [dbo].[asset] ([id])
GO
ALTER TABLE [dbo].[repayment] CHECK CONSTRAINT [fk_repayment_asset_asset_id]
GO
ALTER TABLE [dbo].[role_action]  WITH CHECK ADD  CONSTRAINT [fk_role_action_action_action_id] FOREIGN KEY([action_id])
REFERENCES [dbo].[action] ([id])
GO
ALTER TABLE [dbo].[role_action] CHECK CONSTRAINT [fk_role_action_action_action_id]
GO
ALTER TABLE [dbo].[role_action]  WITH CHECK ADD  CONSTRAINT [fk_role_action_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[role_action] CHECK CONSTRAINT [fk_role_action_role_role_id]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [fk_user_role_app_user_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [fk_user_role_app_user_user_id]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [fk_user_role_role_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [fk_user_role_role_role_id]
GO
USE [master]
GO
